.main__footer {
  padding: 1.5rem;
  margin-top: -9rem;
  background-color: var(--color-bg);
  position: relative;
}
.main__footer::before {
  content: ' ';
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 19.75rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #181818 100%);
}
.footer__h {
  font-size: var(--font-size6);
  margin-top: 1.6rem;
  margin-bottom: 0.62rem;
}

.footer__text {
  text-align: center;
  color: var(--color-text);
  margin: 0 auto;
  max-width: 45.6rem;
}

.footer__p {
  font-size: var(--font-size7);
  text-align: center;
  margin: 1.5rem 0;
}
.footer__b {
  all: unset;
  height: 3rem;
  width: 11.3rem;
  background-color: var(--color-button);
  color: var(--color-text);
  font-size: var(--font-size4);
  border-radius: 2px;
  margin: 0.62rem;
}
.footer__b:hover {
  cursor: pointer;
}
